
<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <a class="navbar-brand" href="<%= '/' %>">
      <img src="http://fr.ubergizmo.com/wp-content/uploads/2015/04/troll-google-maps.jpg" alt="logo" style="width:146px;">
    </a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Google Map</a>
      </li>

    </ul>
    <ul class="navbar-nav navbar right">
        <li><a href="<%= '/' %>">Map</a></li>
    </ul>


  </nav>
  <div class="container-fluid">
  </div>
</header>